<!DOCTYPE html>
<html ng-app="app">


<head>
        <meta charset="utf-8">
    	<title>Yuvitime</title>
    	<meta name="description" content="">
    	<meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, target-densityDpi=device-dpi" />
        <!--ICON FONTS-->
    	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
    	<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet">
        <!-- FONTS OF YUVITIME -->
    	<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,200i,300,300i,400,400i,600,600i,700,700i" rel="stylesheet">
    	<!-- BOOTSTRAP THEME CSS FILES -->
        <link href="assets/css/bootstrap.min.css" rel="stylesheet" />
        <link href="assets/css/material-kit.min.css" rel="stylesheet"/>
        <link rel="stylesheet" href="assets/css/jquery-ui.min.css">
    	<!-- superslides -->
    	<link rel="stylesheet" href="assets/css/superslides.css">
    	<!-- Owl Carousel Assets -->
    	<link href="assets/css/owl.carousel.css" rel="stylesheet">
    	<link href="assets/css/owl.theme.css" rel="stylesheet">
    	<!-- custom scrollbar css -->
    	<link rel="stylesheet" href="assets/css/mCustomScrollber.css">

    	<link href="assets/css/toastr.min.css" rel="stylesheet"/>

        <link rel="stylesheet" href="assets/css/jquery.emojiarea.css">

    	<!-- CUSTOM CSS (style.css) -->
    	<link href="assets/css/m-style.css" rel="stylesheet" />
		
        <script>
            window.fbAsyncInit = function() {
                FB.init({
                  appId      : '1634815040145709',
                  xfbml      : true,
                  version    : 'v2.8'
                });
            };
            (function(d, s, id){
               var js, fjs = d.getElementsByTagName(s)[0];
               if (d.getElementById(id)) {return;}
               js = d.createElement(s); js.id = id;
               js.src = "//connect.facebook.net/en_US/sdk.js";
               fjs.parentNode.insertBefore(js, fjs);
             }(document, 'script', 'facebook-jssdk'));
        </script>
		 <script type="text/javascript" src="assets/js/external/jquery-3.1.1.min.js"></script>
		  <!--<script type="text/javascript" src="assets/js/external/bootstrap-datepicker.js"></script>-->
        <script type="text/javascript" src="assets/js/external/angular.min.js"></script>
        <script type="text/javascript" src="assets/js/external/angular-ui-router.min.js"></script>
        <script src="//code.angularjs.org/snapshot/angular-sanitize.js"></script>
       
        <script type="text/javascript" src="assets/js/external/bootstrap.min.js"></script>
        <script type="text/javascript" src="assets/js/external/material.min.js"></script>
        <script type="text/javascript" src="assets/js/external/angular-ui-bootstrap.js"></script>
        <script type="text/javascript" src="assets/js/external/material-kit.js"></script>
        <script type="text/javascript" src="assets/js/external/mCustomScrollber.js"></script>
        <script type="text/javascript" src="assets/js/external/toastr.min.js"></script>
        <script type="text/javascript" src="assets/js/external/jquery-ui.min.js"></script>
        <script type="text/javascript" src="assets/js/external/jquery.ui.touch-punch.min.js"></script>
        <script type="text/javascript" src="assets/js/external/jquery.emojiarea.js"></script>
        <script type="text/javascript" src="assets/js/external/google-api-client.js"></script>
        <script type="text/javascript" src="assets/js/external/packs/basic/emojis.js"></script>
        <script type="text/javascript" src="assets/js/external/utility.js"></script>
        <script type="text/javascript" src="assets/js/external/ng-infinite-scroll-min.js"></script>
        <script type="text/javascript" src="assets/js/external/jquery.superslides.js"></script>
        <script type="text/javascript" src="assets/js/external/owl.carousel.js"></script>
        <script type="text/javascript" src="assets/js/external/menu.js"></script>
       
<script src="example.js"></script>
<title>JS Bin</title>
</head>
<body ng-controller='TestController'>
  
  <input type="text" datepicker="" ng-model="startDate" placeholder="from date" ng-change="dateChanged(startDate)" />
  <input type="text" datepicker="" ng-model="enddate" placeholder="To date" ng-change="dateChanged(enddate)" />
  <input class="datepicker invite-user" name="" value="" placeholder="Date of Birth" type="text">
                                        <span><img src="assets/images/calender.png" alt=""></span>
  
</body>
</html>