<html  ng-app="test_app">

	<body  ng-controller="addCtrl">
		<form id="add_form" >
			<label>Name</label>
			<input type="name" id="name" ng-modal="cusname">
			  <input type="text" placeholder="yyyy-mm-dd" ng-model="cusdate">

			<button id="save" ng-click="addfunction()">Save</button>
		</form>
	</body>
	
</html>