<div class="container">
	<div ng-include="'partials/header.html'"></div>
    

      <div class="jumbotron container">
      	<div class="card">
		    <div class="card-block">

		        <!--Header-->
		        <div class="form-header  purple darken-4">
		            <h3><i class="fa fa-lock"></i> This is for add</h3>
		        </div>

		        <!--Body-->
		        <form id="add_form" >
			        <div class="md-form">
			            <label for="form2">Name</label>
			            <input type="text" id="name" ng-model="cusname" class="form-control">
			        </div>

			        <div class="md-form">
			            <label for="form2">Datepicker</label>
			            <input type="text" id="expire_date" ng-model="cusdate" datepicker="" class="form-control">
			        </div>

			        <div class="md-form">
			            <label for="form2">Importance</label>
			            <input type="text" id="imp" ng-model="importance" class="form-control">
			        </div>

			        <div class="text-center">
			            <button id="save" ng-click="addfunction()" class="btn btn-deep-purple">Save</button>
			        </div>
		    	</form>
		    </div>
		</div>
      	<!-- <p>This is for add</p>
      	<form id="add_form" >
			<label>Name</label>
			<input type="text" id="name" ng-model="cusname">
			<label>Datepicker</label>
			  <input type="text" id="expire_date" ng-model="cusdate" datepicker="">
			  <label>Importance</label>
			    <input type="text" id="imp" ng-model="importance">
			<button id="save" ng-click="addfunction()">Save</button>
		</form> -->
      	</div>
      <div ng-include="'partials/footer.html'"></div>
      

    </div>