<div class="container">
	<div ng-include="'partials/header.html'"></div>
      

      <div class="jumbotron container">
      
        <button type="button" class="btn btn-default" ng-click="RedirectToURL()">ADD</button>
        <table class="table">
          <thead>
            <tr>
             
              <th>Name</th>
              <th>Deadline</th>
              <th>Importance</th>
              <th>Is Completed</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="data in datas" ng-style="{'background-color':data.background_color}">
             
              <td>{{data.name}}</td>
              <td>{{data.deadline}}</td>
              <td>{{data.importance}}</td>
              <td id="is_complete_{{data.id}}">
                <p ng-if="data.is_complete==1">YES</p>
                <p ng-if="data.is_complete==0">No</p>
              </td>
              <td><button id="{{data.id}}" ng-click="mark_complete(data.id)" ng-if="data.is_complete==0">Mark As Complete</button></td>
            </tr>
           
           
          </tbody>
        </table>

      </div>
      <div ng-include="'partials/footer.html'"></div>
      

    </div>